_site/

CV/.DS_Store
img/publications/.DS_Store
img/publications/.DS_Store
publications/.DS_Store
vendor/bootstrap/.DS_Store
scss/.DS_Store
vendor/.DS_Store
vendor/fontawesome-free/.DS_Store
js/.Rhistory
img/.DS_Store
.DS_Store
.DS_Store
